html{
  /*rem相对于根元素html的font-size，r就是root的意思   em是相对于父元素的font-size*/
  /*浏览器默认的font-size是16px  16*62.5%=10px===1rem*/
  font-size: 62.5%;
}
/*viewport height === vh*/
html body #root .App{
  min-height: 100vh;
}